<!DOCTYPE web-app PUBLIC '-//Sun Microsystems, Inc.//DTD
  Web Application 2.3//EN' 'http://java.sun.com/dtd/web-app_2_3.dtd'>
 
<web-app>
 
  <servlet>
    <servlet-name>hiber</servlet-name>
    <servlet-class>name.kehsa.tests.hiber</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>hiber</servlet-name>
    <url-pattern>/hiber</url-pattern>
  </servlet-mapping>
 
</web-app>